**/.idea
**/.vscode
**/AGENTS.md

# Build and Binary files
**/automated-tests/bin/

# Docker data 
**/qdrant_storage/
ec-private.pem
ec-public.pem
localhost+2.pem
localhost+2-key.pem

**/secrets/
ec-private.pem
ec-public.pem
localhost+2-key.pem
localhost+2.pem
