**/.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
**/*.iws
**/*.iml
**/*.ipr
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
**/.DS_Store

### Custom ###
**/*.pem
**/.idea/
**/*.p12

### AI ###
**/AGENTS.md

### Environment secrets ###
**/application-*.yaml
**/application-*.yml

### Java/Spring Binaries ###
**/bin/
**/build/
**/out/
.gradle/
.idea/
target/
*.class