# Database Configuration
spring:
  datasource:
    username: <<Username>>
    password: <<Password>>
    driver-class-name: org.postgresql.Driver

  # Enable DevTools
  devtools:
    restart:
      enabled: true
      poll-interval: 2s
      quiet-period: 1s
    livereload:
      enabled: true
      port: 35729

# OAuth2 Configuration
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: <<Client ID>>
            client-secret: <<Client Secret>>
            scope: openid,profile,email

# Microservices Communication Configuration
app:
  services:
    user-service:
      # Base URL to fetch business data from User Service
      url: https://localhost:8080

# Port
server:
  port: 8081
  ssl:
    certificate: classpath:keys/localhost+2.pem
    certificate-private-key: classpath:keys/localhost+2-key.pem

application:
  security:
    # JWT
    jwt:
      private-key-path: keys/ec-private.pem
      public-key-path: keys/ec-public.pem
      key-id: auth-key-es256
      issuer: ticket4u

# CORS
    cors:
      allowed-origins: https://localhost:3000

# Endpoint to fetch Public Keys for JWT validation
    auth:
      jwks-uri: https://localhost:8080/auth/.well-known/jwks.json